{% extends 'global/base.html' %}
{% load static %}

{% block content %}
<!-- Showcase Section -->
<section class="grid">
    <div id="page-showcase">
        <h1>Who We Are</h1>
    </div>
</section>

<!-- Messages Section -->
<section class="grid">
    {% if messages %}
        {% for message in messages %}
            <div>
                <b>{{ message }}</b>
            </div>
        {% endfor %}
    {% endif %}
</section>

<!-- Who are we Section -->
<section class="grid">
    <div id="who-are-we">
        <h2>Who are we</h2>
        <div class="card">
            <img src="{% static 'img/about-us.jpg' %}" alt="">
            <div class="card-content">
                The British Canadian Business Association (BCBA) is a not-for-profit society founded with the mission to bridge the Canadian and United Kingdom business communities.
                <br /><br />
                Enjoying the ongoing support of the British High Commission, the BCBA is able to draw on the collective expertise of our directors, members and partners to help in-bound businesses navigate the occasionally challenging commercial environment across Canada and particularly the West Coast.
                <br /><br />
                In addition, the BCBA leverages its strong relationships with business associations, chambers and organizations on both sides of the Atlantic to promote its members, connect them within the business communities and provide ongoing support.
            </div>
        </div>
    </div>
</section>

<!-- Meet the Board Section -->
<section class="grid">
    <div id="meet-board">
        <h2>Meet the Board</h2>
        {% if board_members %}
            {% for items in board_members %}
            <div class="card">
                <h3>{{ items.member_name }} | {{ items.position }}<a href="{{ items.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a></h3>
                <img src="{{ items.profile_pic.url }}" alt="BCBA Board Member {{ items.member_name }}">
                <div class="card-content">
                    {{ items.profile|linebreaks }}
                </div>
            </div>
            {% endfor %}   
        {% endif %}
    </div>
</section>
{% endblock %}