{% extends 'global/base.html' %}
{% load static %}

{% block content %}

<!-- Showcase Section -->
<section class="grid">
    <div id="page-showcase">
        <h1>BC-BA Membership</h1>
    </div>
</section>

<!-- Membership -->
<section class="grid">
    <div>
        <div class="card">
            <div class="card-content">
                The BC-BA exists solely to promote and support the development of trade, commerce and investment between UK and Canada by pro-actively connecting businesses, associations, individuals and government agencies.
                <br/>
                <ol>
                    <li>Actively supports and promotes the transatlantic business interests of its members.</li>
                    <li>Provides a business networking forum for companies and individuals engaged in business between Canada and the UK.</li>
                    <li>BCBA maintains a close working relationship with the British High Commission and its offices across Canada and provides a respected advocacy platform for members’ views.</li>
                    <li>Cross-Promotion of other Chambers’ events and sharing of pertinent commercial information with BCBA members.</li>
                    <li>Access to a wealth of Information. Through its various communications vehicles and direct access to the business communities and networks, your membership investment in the British Canadian Business Association opens the door to a wealth of information and business initiatives.</li>
                </ol>
                <p>If you would like to make payment for your membership you do so via the Paypal button below:</p>
                <p><form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="VW36GHKKR9W82">
                <table>
                <tr><td><input type="hidden" name="on0" value="Membership Types">Membership Types</td></tr><tr><td><select name="os0">
                    <option value="Personal Membership">Personal Membership $150.00 CAD</option>
                    <option value="Entrepreneurs Membership">Entrepreneurs Membership $375.00 CAD</option>
                    <option value="Corporate Membership">Corporate Membership $750.00 CAD</option>
                </select> </td></tr>
                </table>
                <br />
                <input type="hidden" name="currency_code" value="CAD">
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                </form></p>
            </div>
        </div>
    </div>
</section>

<!-- Membership Benefits -->
<section class="grid">
    <div id="membership">
        <h2>Membership Benefits</h2>
            <div class="content">
            <h3>BDO</h3>
            <ol>
                <li>New Business Accelerator Services:</li>
                    <ul>
                        <li>Tax desk – Free 30 minute discussion per member per annum</li>
                        <li>Reduced hourly rates for Canadian A&A and BDO UK A&A Tax Services.</li>
                        <li>Reduced rates for Outsourced services (bookkeeping, controllership, etc)</li>
                    </ul>
                <li>Entrepreneur educational outreach:</li>
                    <ul>
                        <li>Invitations to attend educational seminars on topics pertinent to our members (e.g. Personal/Business tax, accessing new markets such as Asia/Pacific/US)</li>
                        <li>Access to BDO webinars/training of interest.</li>
                    </ul>
            </ol>
            <h3>Mini Richmond</h3>
            <ol>
                <li>Members receive $500.00 towards a New or pre owned MINI. Promotional code required and must be presented before test drive</li>
            </ol>
        </div>
    </div>
</section>

<!-- Membership Types -->
<section class="grid">
    <div id="membership">
        <h2>Membership Types</h2>
        <div class="content">
            <h3>3 Tiers of Membership</h3>
            <ol>
                <li>Individual Membership</li>
                <li>Entrepreneur Membership</li>
                <li>Corporate Membership</li>
            </ol>
            To learn about the different membership types - <a href="/membership-types">click here</a> 
        </div>
    </div>
</section>
{% endblock %}