{% extends 'global/base.html' %}
{% load static %}

{% block content %}

<!-- Showcase Section -->
<section class="grid">
    <div id="page-showcase">
        <h1>BC-BA Sponsorship</h1>
    </div>
</section>

<!-- Sponsorship -->
<section class="grid">
    <div class="content">
        Increase your Corporate and Individual profile by partnering and supporting the BCBA.
        <br /><br />
        Through a variety of membership and event sponsorship opportunities, we can help you enhance your profile and presence in your business community both Corporately and Individually.
    </div>
</section>

<!-- Sponsorship Opportunities -->
<section class="grid">
    <div>
        <h2>Sponsorship Opportunities</h2>
        <div class="content">
            Increase your profile and support the BC-BA through a variety of sponsorship opportunities.
            <br /><br />
            These include the following benefits:
            <ul>
                <li>
                    Corporate logo posted on website, including a corporate overview on the BCBA Sponsor Links page
                </li>
                <li>
                    2 company promotional communications (e-blasts) to the BCBA directory, as an “Approved Sponsor”. With the opportunity to purchase more if desired.
                </li>
                <li>
                    Preferential Rates for events i.e. Christmas Lunch, Golf Tournament, breakfast/lunch meetings exclusively sponsored.
                </li>
                <li>
                    High profile corporate identity exposure at sponsored events and selected national events
                </li>
                <li>
                    Speaker opportunity at an event of your choice
                </li>
                <li>
                    Event attendee and contact list for sponsored event
                </li>
                <li>
                    Please contact us for sponsorship and event-specific pricing.
                </li>
            </ul>
            <p>Please <a href="{% url 'contact' %}">contact us</a> for sponsorship and event-specific pricing.</p>
        </div>
    </div>
</section>
{% endblock %}