{% extends 'global/base.html' %}
{% load static %}

{% block content %}
<!-- Showcase Section -->
<section class="grid">
    <div id="page-showcase">
        <h1>Who We Are</h1>
    </div>
</section>

<!-- Who are we Section -->
<section class="grid">
    <div id="who-are-we">
        <h2>Who are we</h2>
        <div class="card">
            <img src="{% static 'img/about-us.jpg' %}" alt="">
            <div class="card-content">
                The British Canadian Business Association (BCBA) is a not-for-profit society founded with the mission to bridge the Canadian and United Kingdom business communities.
                <br /><br />
                Enjoying the ongoing support of the British High Commission, the BCBA is able to draw on the collective expertise of our directors, members and partners to help in-bound businesses navigate the occasionally challenging commercial environment across Canada and particularly the West Coast.
                <br /><br />
                In addition, the BCBA leverages its strong relationships with business associations, chambers and organizations on both sides of the Atlantic to promote its members, connect them within the business communities and provide ongoing support.
            </div>
        </div>
    </div>
</section>

<!-- Meet the Board Section -->
<section class="grid">
    <div id="meet-board">
        <h2>Meet the Board</h2>
        <div class="card">
            <h3>Peter Cottan | President <a href="https://www.linkedin.com/in/peter-t-cottan/" target="_blank"><i class="fab fa-linkedin"></i></a></h3>
            <img src="{% static 'img/board/peter.jpg' %}" alt="">
            <div class="card-content">
                Peter is one of the founding members of the BCBA and is also the International and Corporate U.S (Western) Group Sales Manager with the Pan Pacific Hotel in Vancouver. He had moved north from San Francisco in 2013 where he previously worked with Intercontinental Hotels Group and also with Golden Gate University as Associate Director of Advising Services while he earned his MBA in marketing.
                <br /><br />
                He is passionate about bringing International city-wide events to Vancouver and enjoys advising his clients on the many things Vancouver has to offer as a destination. Peter has more than 20 years of leadership experience in the higher education and hospitality industries in the UK, USA, Australia and Canada.
                <br /><br />
                Peter is always eager to assist the growth of business through networking, promotions and events with a	close eye for the details.
            </div>
        </div>
        <div class="card">
            <h3>Tony Morgan | Founding President & Director <a href="https://www.linkedin.com/in/anthony-morgan-050a3b12/" target="_blank"><i class="fab fa-linkedin"></i></a></h3>
            <img src="{% static 'img/board/tony.jpg' %}" alt=""></a>
            <div class="card-content">
                Anthony (Tony) is a Financial Planner with the Danielson Group Wealth Management, having joined the team in early 2011. His experience includes advising a wide range of professionals including Queen’s Counsel, Corporate CEOs, Entrepreneurs, Athletes and Celebrities during his 22 years working at Lloyd’s Banking Group, London and Vancouver, Canada.
                <br /><br />
                Through his vast experience as a financial planner in London and Vancouver, Tony has a unique blend of sage wealth advice, in depth banking knowledge and the ability to build strong relationships with both clients and his business network.
                <br /><br />
                This is a passion of his as evidenced by him being one of the founders and President of the British Canadian Business Association (BCBA). This has been his ultimate goal of ‘giving back’ to the business communities in the UK and Canada. Tony’s aspiration is to help as many people be successful and fulfill their life dreams.
            </div>
        </div>
        <div class="card">
            <h3>Kerris Hougardy | Vice President <a href="https://www.linkedin.com/in/kerrishougardy/?originalSubdomain=ca" target="_blank"><i class="fab fa-linkedin"></i></a></h3>
            <img src="{% static 'img/board/kerris.png' %}" alt="">
            <div class="card-content">
                Having moved from the UK to Canada in 2011, Kerris now leads Colliers Internationals North American recruitment department as Director, Talent Acquisition. Kerris is a certified HR practitioner who, since graduating with a BA Hons degree in Modern Languages, has gained over 17 years' international recruitment experience at mid to senior management level across a number of industry sectors and has worked in senior leadership roles for large international and small boutique recruitment firms, including 5 years running her own niche search and selection business in the UK.
                <br /><br />
                Kerris has run extensive executive search campaigns in Europe, Asia, South and North America for some of the world’s leading businesses, including PepsiCo, Reckitt Benckiser, Nike, GEA, Teck Resources, De Beers, Expedia and Virgin, across a number of functional areas including finance, sales & marketing, product development, operations, procurement & supply chain and HR.
            </div>
        </div>
        <div class="card">
            <h3>Hermann Luitingh | Chair <a href="https://www.linkedin.com/in/hermann-l-0b953b6/" target="_blank"><i class="fab fa-linkedin"></i></a></h3>
            <img src="{% static 'img/board/hermann.png' %}" alt="">
            <div class="card-content">
                Hermann arrived in the Dominion of Canada in 2001 after successfully practicing law in the Republic of South Africa for years and has continued his career as Counsel at the Vancouver Bar. Vancouver’s dynamics, steady pace and mature levels of human courtesy and good taste are the reasons Hermann enjoys working and living in the Lower Mainland of Vancouver.
                <br /><br />
                Similar to his peers at the BCBA, Hermann is always eager to assist the growth of business through sound networking and empowerment. Hermann is a strong advocate for ethical growth and cooperation, rendering the British and Canadian models ideal for business development. Hermann has a keen interest in North Atlantic and European trade and has long-standing experience working with solicitors of different jurisdictions in assisting clients with negotiating international and domestic contracts and regulatory compliance. He is also a skilled barrister, frequently appearing before the British Columbia Courts.
            </div>
        </div>
        <div class="card">
            <h3>Brian Mason | Vice Chair <a href="https://www.linkedin.com/in/brian-b-mason-138b9097/" target="_blank"><i class="fab fa-linkedin"></i></a></h3>
            <img src="{% static 'img/board/brian.jpg' %}" alt="">
            <div class="card-content">
                Brian B. Mason C.D. is an entrepreneur and president of Burrard Inlet Rail Contracting Ltd. A Vancouver based full-service railway contractor, with over 50 employees serving western Canada. He has over a dozen years of experience in the railway transportation and engineering sector, previously with Canadian Pacific Railway and Neptune Bulk Terminals.
                <br /><br />
                He has a keen interest in commodity trading, equipment importation, raising capital, mergers and acquisition. Brian is Canadian born and holds dual British / Canadian citizenship.
            </div>
        </div>
        <div class="card">
            <h3>Andy Marshall |  Treasurer <a href="https://www.linkedin.com/in/andy-marshall-ca-cfa-0b48963/?originalSubdomain=ca" target="_blank"><i class="fab fa-linkedin"></i></a></h3>
            <img src="{% static 'img/board/andy.jpg' %}" alt="">
            <div class="card-content">
                Andy Marshall is a Chartered Accountant and Chartered Financial Analyst from Lincolnshire, England. In August 2008 Andy joined PwC’s Vancouver office, bringing his considerable experience of the technology, entertainment and mining FTSE 100 sectors to his role as a Manager in PwC’s audit practice, specializing in Canadian and US listed mining company engagements.
                <br /><br />
                Andy moved on to hold key roles in two Vancouver based silver mining companies before taking up his current position as the CFO of First Mining Finance Corp. Through the successful growth of the Company, Andy has gained experience in corporate acquisitions and equity financing.
                <br /><br />
                As Treasurer and Director of the BCBA Andy’s goal is to provide our members with a supportive network of business professionals within the local community. He is committed to promoting and growing the society’s membership base, as well as continuing his own development towards becoming a trusted business and financial adviser.
            </div>
        </div>
        <div class="card">
            <h3>Simon Mills | Director <a href="https://www.linkedin.com/in/simon-mills-365b7252/" target="_blank"><i class="fab fa-linkedin"></i></a></h3>
            <img src="{% static 'img/board/simon.jpg' %}" alt="">
            <div class="card-content">
                Simon Mills – AVP Business Development of Global Trade and Receivables Finance at HSBC Canada. Following a transfer from HSBC UK to HSBC Canada, Simon has specialised in supporting international focused businesses to manage opportunities and risks that arise from trading globally. Simon has worked in many business focused roles within the financial industry, recently working as a Senior International Relationship Manager with the Vancouver Corporate Banking Team.
                <br /><br />
                Originally from Southampton in the UK, he came to Vancouver with his family in 2014. When Simon is not in the office he can be found riding the beautiful landscape of BC on his Motorcycle, when the winter hits the bike goes away and the skis come out. As a director of the BCBA Simons aim is to help those business leaders looking to grow in both the UK and Canadian markets in the most efficient ways possible. He has made it his mission to bring useful events and ideas to the membership that help with every day challenges.
            </div>
        </div>
        <div class="card">
            <h3>Darrell Keen | Director <a href="https://www.linkedin.com/in/darrell-keen-99b39738/" target="_blank"><i class="fab fa-linkedin"></i></a></h3>
            <img src="{% static 'img/board/darrell.jpg' %}" alt="">
            <div class="card-content">
                Darrell is proud of his London roots.  His transportation career began in the UK and Netherlands. After relocating to Canada in the early 1990’s, he worked with a multi-national transportation company promoting trade within the North American and Asia markets. He then moved onto British Airways were he was responsible for cargo load capacities within Western Canada.
                <br /><br />
                Darrell founded GTO Logistics Ltd. based in Vancouver in 2001. GTO specializes in air-sea freight to and from the UK, and also has extensive dealings with the Benelux countries for import/export trade management.
                <br /><br />
                Reach out to Darrell with any questions about shipping and logistics. He is always available to assist you with the growth of your business. In addition to shipping, his expertise and network around the world can assist with trade relations  and help you build valuable transatlantic relationships.
            </div>
        </div>
        <div class="card">
            <h3>Rupert Potter | Director (UK) <a href="https://www.linkedin.com/in/rupert-potter-9ba8131a/?originalSubdomain=uk" target="_blank"><i class="fab fa-linkedin"></i></a></h3>
            <img src="{% static 'img/board/rupert.jpg' %}" alt="">
            <div class="card-content">
                Rupert Potter is BC’s Trade & Investment Representative for Europe, MD of Articulate International Ltd, and UK Partner with Optimize Consulting.  Rupert has previously served as a diplomat with the UK Foreign & Commonwealth Office, as British Consul General in Vancouver 2012-16; Deputy Head of the Embassy in Bahrain 2008-12; and prior to that as Political Officer in Sweden, and Vice-Consul in Jordan. In London, he’s worked on policy covering South Asia, Afghanistan, and North America, as well as being seconded to Cabinet Office and the International Institute for Strategic Studies (IISS).
                <br /><br />
                Rupert has an MA with honours in Modern History with International Relations from the University of St Andrews University; and a second MA in Creative Writing from the University of East Anglia. Known for delivering high-quality political, commercial and security analysis; he is a clear and effective communicator; and a motivational leader who inspires trust and delivers strong organisational performance. His role in the BCBA handily brings together his loves of the UK, British Columbia and helping businesses thrive.
            </div>
        </div>
        <div class="card">
            <h3>Miriam Mitchell-Banks | Director (Alberta) <a href="https://www.linkedin.com/in/miriam-mitchell-banks-b5b2468/" target="_blank"><i class="fab fa-linkedin"></i></a></h3>
            <img src="{% static 'img/board/miriam.jpg' %}" alt="">
            <div class="card-content">
                Miriam is a Chartered Professional Accountant with a business degree from the University of Calgary. Originally from Yorkshire, England, Miriam and her family emigrated to Canada in 1964 and lived on the northwest coast of British Columbia, before moving to the southeast part of the province, to Creston in the Kootenay Valley. In the early 80′s she moved to Calgary, Alberta. Miriam’s diverse career includes 26 years of senior leadership roles with both Canadian and Global energy companies, including; TransCanada Corp, Williams Energy, Provident Energy (merged with Pembina Corp), BP Canada, ATCO Group, and AltaGas. 
                <br /><br />
                Miriam now leverages the deep experience she gained in the energy industry and her entrepreneurial nature, in her role as a Senior Consultant with Optimize Consulting and within her own business consultancy practice. As Director (Alberta) of the BCBA, Miriam’s goal is to provide our members with insight into the local and provincial business environment through broad and deep professional and personal networks of Business Professionals and Community leaders. As a passionate Rotarian she would welcome the opportunity to host you to a local meeting or event.
            </div>
        </div>
        <div class="card">
            <h3>Corina-Alexandra Pop | Creative Director<a href="https://www.linkedin.com/in/corinaalexandrapop/" target="_blank"><i class="fab fa-linkedin"></i></a></h3>
            <img src="{% static 'img/board/corina.jpg' %}" alt="">
            <div class="card-content">
                Corina is a graphic designer with Northland Properties Corporation, in charge of creative for the Sandman Hotel Group. Having a deep understanding of her clients business and objectives, Corina creates original designs that speak meaningfully to intended audiences and deliver business results.
                <br /><br />
                Experienced in art directing and designing across both digital and print, Corina works with clients from all over the world of all shapes and sizes. She brought to life new brand identities and restored old ones, turned traditional business documents and marketing collateral into wonderful visual experiences, designed a variety of print artwork, as well as digital marketing campaigns across all media and social channels.
                <br /><br />
                Originally from Romania, Corina moved to Vancouver two years ago, after spending 6 years in SE Asia. Corina is passionate about everything design, kickboxing and chocolate. In her role with BCBA, Corina's goal is to shape a modern and professional visual identity through creative direction and graphic design.
            </div>
        </div>
    </div>
</section>
{% endblock %}