{% extends 'global/base.html' %}
{% load static %}

{% block content %}

<!-- Messages Section -->
<section class="grid">
    {% if messages %}
        {% for message in messages %}
            <div>
                <b>{{ message }}</b>
            </div>
        {% endfor %}
    {% endif %}
</section>

<!-- Add Board Members Form Section-->
<section class="grid">
    <div>
        <h1>Add Board Member</h1>
        <form method="post">
            {% csrf_token %}    <!-- Security measure when adding forms in Django -->
            <input type="text" placeholder="Member Name" name="member_name"><br />
            <input type="text" placeholder="Position" name="position"><br />
            <input type="text" placeholder="Profile" name="profile"><br />
            <input type="text" placeholder="Linkedin" name="linkedin"><br />
            <input type="text" placeholder="Image URL" name="image_url"><br />
            <input type="text" placeholder="Priority" name="priority"><br />
            <button type="submit">Submit</button>
        </form>
    </div>
</section>

{% endblock %}