{% extends 'global/base.html' %}
{% load static %}

{% block content %}

<!-- Messages Section -->
<section class="grid">
    {% if messages %}
        {% for message in messages %}
            <div>
                <b>{{ message }}</b>
            </div>
        {% endfor %}
    {% endif %}
</section>

<!-- Edit Board Members Form Section-->
    <section class="grid">
        <div>
            <h1>Edit Board Member</h1>
            <form method="post">
                {% csrf_token %}    <!-- Security measure when adding forms in Django -->
                <input type="text" value="{{ get_board_member.member_name }}" name="member_name"><br />
                <input type="text" value="{{ get_board_member.position }}" name="position"><br />
                <input type="text" value="{{ get_board_member.profile }}" name="profile"><br />
                <input type="text" value="{{ get_board_member.linkedin }}" name="linkedin"><br />
                <input type="text" value="{{ get_board_member.image_url }}" name="image_url"><br />
                <input type="text" value="{{ get_board_member.priority }}" name="priority"><br />
                <button type="submit">Submit</button>
            </form>
            <br />
            <form method="POST" action="{% url 'delete' get_board_member.id %}">
                {% csrf_token %}
                <input type="hidden" value="{{ get_board_member.id }}" name="id">
                <button type="submit">Delete</button>
            </form>
        </div>
    </section>



{% endblock %}