{% extends 'global/base.html' %}
{% load static %}

{% block content %}
<!-- Showcase Section -->
<section class="grid">
	<div id="showcase">
		<h1>Promote, Connect and Support</h1>
		<p>Welcome to the British Canadian Business Association</p>
		<p><a href="about" class="btn">Read More</a></p>
	</div>
</section>

<!-- Home - About US Section -->
<section class="grid">
	<div id="home-about">
		<h2>British Canadian Business Association</h2>
		<div class="card">
			<img src="{% static 'img/about-1.jpg' %}" alt="">
			<div class="card-content">
				<h3 class="card-title">Promote and Support</h3>
				<p>Promote and support the development of trade, commerce and investment between UK and Canada.</p>
			</div>
		</div>
		<div class="card">
			<img src="{% static 'img/about-2.jpg' %}" alt="">
			<div class="card-content">
				<h3 class="card-title">Increase Opportunities</h3>
				<p>Aligning companies through BCBA partners, associations, businesses and government relationships.</p>
			</div>
		</div>
		<div class="card">
			<img src="{% static 'img/about-3.jpg' %}" alt="">
			<div class="card-content">
				<h3 class="card-title">Leverage Relationships</h3>
				<p>Build future relationships in both Canada and the United Kingdom to support business growth.</p>
			</div>
		</div>
		<div class="card">
			<img src="{% static 'img/about-4.jpg' %}" alt="">
			<div class="card-content">
				<h3 class="card-title">Connect Business Owners</h3>
				<p>Routinely bring together business owners to explore the opportunities and synergies between them.</p>
			</div>
		</div>
	</div>
</section>

<!-- Home - Sponsors Section -->
<section class="grid" id="sponsors-bg">
	<div id="sponsors-home">
		<h3>Key Sponsors</h3>
		<div class="logos">
			<a target="_blank" href="https://www.aircanada.com/ca/en/aco/home.html"><img class="img-1" src="{% static 'img/sponsors/air-canada.png' %}" alt="Air Canada"></a>
			<a target="_blank" href="https://www.danielsongroup.ca/"><img src="{% static 'img/sponsors/assante.jpg' %}" alt="Assante Wealth Management"></a>
			<a target="_blank" href="https://www.bdo.ca/"><img src="{% static 'img/sponsors/bdo.jpg' %}" alt="BDO Canada"></a>
			<a target="_blank" href="https://www.britishairways.com/"><img src="{% static 'img/sponsors/british-airways.jpg' %}" alt="British Airways"></a>
			<a target="_blank" href="https://www.gov.uk/world/canada"><img src="{% static 'img/sponsors/british-consulate.png' %}" alt="British Consulate-General Vancouver"></a>
			<a target="_blank" href="https://www.burrardinletrail.ca/"><img src="{% static 'img/sponsors/burrard.png' %}" alt="Burrard Inlet Rail"></a>
			<a target="_blank" href="https://www.hsbc.ca/"><img src="{% static 'img/sponsors/hsbc-logo.jpg' %}" alt="HSBC Canada"></a>
			<a target="_blank" href="https://www.optimizeconsulting.ca/"><img src="{% static 'img/sponsors/optimize.jpg' %}" alt="Optimize Consulting"></a>
			<a target="_blank" href="https://www.panpacific.com/en/hotels-and-resorts/pp-vancouver.html"><img src="{% static 'img/sponsors/pan-pacific.jpg' %}" alt="Pan Pacific Hotel Vancouver"></a>
		</div>
	</div>
</section>

<!-- Our Story Section -->
<section class="grid">
	<div id="home-story">
		<h2>Our Story</h2>
		<div class="card">
			<img src="{% static 'img/about-us.jpg' %}" alt="">
			<div class="card-content">
				The British Canadian Business Association was created with the ultimate goal of 'giving back' to the business communities in the UK and Canada.
				<br /><br />
				Having experienced firsthand the challenge of making professional and personal relocations work, our directors recognized the need for a dynamic and well organized resource dedicated to providing businesses with the support they need.
				<br /><br />
				Today, the BCBA supports companies and individuals on both sides of the Atlantic, openly sharing our network and expertise with likeminded organizations to simplify the process and increase the chances of success.
			</div>
		</div>
	</div>
</section>
{% endblock %}