{% extends 'global/base.html' %}
{% load static %}

{% block content %}
<!-- Showcase Section -->
<section id="page-showcase" class="grid">
    <div class="bg-image"></div>
    <div class="content-wrap">
        <h1>Member Directory</h1>
    </div>
</section>

<!-- Member Directory -->
<section id="page-block">
    <h2>Member Directory</h2>
    <div class="card no-image">
        <div class="card-content">
            Below is a list of current BC-BA corporate members:
            <ul>
                <li>Advantage BC</li>
                <li>AFEX</li>
                <li>BDO</li>
                <li>British American Business Council (BABC – Pacific North West)</li>
                <li>British Consulate in Calgary</li>
                <li>British Consulate in Vancouver</li>
                <li>Burrard Inlet Rail</li>
                <li>Canada-United Kingdom Chamber of Commerce (CUKCC)</li>
                <li>Danielson Group Wealth Management</li>
                <li>Davison Law Group</li>
                <li>Deloitte</li>
                <li>Deloitte Tax Law</li>
                <li>Department for International Trade (DIT)</li>
                <li>Export Development Canada (EDC)</li>
                <li>Fatsoma</li>
                <li>Great British Gardener</li>
                <li>GTO Logistics Inc</li>
                <li>HSBC Canada</li>
                <li>Invest Northern Ireland (Investni.com)</li>
                <li>Maple Business Council</li>
                <li>Mini Richmond</li>
                <li>Optimize Consulting</li>
                <li>Pan Pacific Vancouver</li>
                <li>Quality Move Management Inc</li>
                <li>Sea to Sky Concierge</li>
                <li>Western Union Business Solution</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}