{% extends 'global/base.html' %}
{% load static %}

{% block content %}
<!-- Showcase Section -->
<section id="page-showcase" class="grid">
    <div class="bg-image"></div>
    <div class="content-wrap">
        <h1>BC-BA Resources</h1>
    </div>
</section>

<!-- Resources -->
<section id="page-block">
    <div class="card no-image">
        <div class="card-content">
            The BCBA provides a variety of support mechanisms for companies and individuals, we:
            <ul>
                <li><b>Advantage BC</b> – <a href="http://www.advantagebc.ca" target="_blank">www.advantagebc.ca</a></li>
                <li><b>Associated Foreign Exchange (AFEX)</b> – <a href="http://www.afex.com/canada" target="_blank">www.afex.com/canada</a></li>
                <li><b>British-American Business Council – Pacific North West</b> – <a href="http://www.babcpnw.org" target="_blank">www.babcpnw.org</a></li>
                <li><b>BC Chamber of Commerce</b> – <a href="http://www.bcchamber.org" target="_blank">www.bcchamber.org</a></li>
                <li><b>BC Economic Development Association (BCEDA)</b> – <a href="http://www.bceda.ca" target="_blank">www.bceda.ca</a></li>
                <li><b>British Canadian Chamber of Trade & Commerce (BCCTC)</b> – <a href="http://www.bcctc.ca" target="_blank">www.bcctc.ca</a></li>
                <li><b>British Council Canada</b> – <a href="http://www.britishcouncil.ca" target="_blank">www.britishcouncil.ca</a></li>
                <li><b>British High Commission in Canada</b> – <a href="http://www.gov.uk/government/world/organisations/british-high-commission-ottawa" target="_blank">www.gov.uk/government/world/organisations/british-high-commission-ottawa</a></li>
                <li><b>Burrard Inlet Rail</b> – <a href="http://www.burrardinletrail.ca" target="_blank">www.burrardinletrail.ca</a></li>
                <li><b>Business Council of BC (BCBC)</b> – <a href="http://www.bcbc.com" target="_blank">www.bcbc.com</a></li>
                <li><b>Canada Border Services Agency (CBSA)</b> – <a href="http://www.cbsa-asfc.gc.ca" target="_blank">www.cbsa-asfc.gc.ca</a></li>
                <li><b>Canada – United Kingdom Chamber of Commerce</b> – <a href="http://www.canada-uk.org" target="_blank">www.canada-uk.org/</a></li>
                <li><b>Canada Wise</b> – <a href="http://www.canadawise.com" target="_blank">www.canadawise.com</a></li>
                <li><b>Canadian Trade Commissioner Services – BC & Yukon</b> – <a href="http://www.tradecommissioner.gc.ca" target="_blank">www.tradecommissioner.gc.ca</a></li>
                <li><b>Chamber International</b> – <a href="http://www.chamber-international.com" target="_blank">www.chamber-international.com</a></li>
                <li><b>Danielson Group Wealth Management</b> – <a href="http://www.danielsongroup.ca" target="_blank">www.danielsongroup.ca</a></li>
                <li><b>Davison Law Group</b> – <a href="http://www.dlg-law.ca" target="_blank">www.dlg-law.ca</a></li>
                <li><b>Department of Business, Innovation and Skills</b> – <a href="http://www.gov.uk/government/organisations/department-for-business-innovation-skills" target="_blank">www.gov.uk/government/organisations/department-for-business-innovation-skills</a></li>
                <li><b>Doing Business In Canada Guide</b> - <a href="http://www.canada.doingbusinessguide.co.uk" target="_blank">www.canada.doingbusinessguide.co.uk</a></li>
                <li><b>GTO Logistics Inc</b> – <a href="http://www.gtogl.com" target="_blank">www.gtogl.com</a></li>
                <li><b>HSBC Canada</b> – <a href="http://www.business.hsbc.ca/en-ca" target="_blank">www.business.hsbc.ca/en-ca</a></li>
                <li><b>Invest Northern Ireland</b> – <a href="http://www.Investni.com" target="_blank">www.Investni.com</a></li>
                <li><b>Moving 2 Canada</b> – <a href="http://www.moving2canada.com" target="_blank">www.moving2canada.com</a></li>
                <li><b>Optimize Consulting</b> – <a href="http://www.optimizeconsulting.ca" target="_blank">www.optimizeconsulting.ca</a></li>
                <li><b>Pan Pacific Vancouver</b> – <a href="http://www.panpacificvancouver.com" target="_blank">www.panpacificvancouver.com</a></li>
                <li><b>Pure Souls Media & Photography</b> – <a href="http://www.puresoulsmedia.com" target="_blank">www.puresoulsmedia.com</a></li>
                <li><b>Quality Move Management Inc</b> – <a href="http://www.qmm.com" target="_blank">www.qmm.com</a></li>
                <li><b>Trade & Invest British Columbia</b> – <a href="http://www.britishcolumbia.ca" target="_blank">www.britishcolumbia.ca</a></li>
                <li><b>UK in Canada</b> – <a href="http://www.gov.uk/government/world/canada" target="_blank">www.gov.uk/government/world/canada</a></li>
                <li><b>Department for International Trade (DTI)</b> – <a href="https://www.gov.uk/government/organisations/department-for-international-trade" target="_blank">www.gov.uk/government/organisations/department-for-international-trade</a></li>
                <li><b>Vancouver Board of Trade (BVT)</b> – <a href="http://www.boardoftrade.com" target="_blank">www.boardoftrade.com</a></li>
                <li><b>Vancouver Economic Commission (VEC)</b> – <a href="http://www.vancouvereconomic.com" target="_blank">www.vancouvereconomic.com</a></li>
                <li><b>Western Economic Diversification Canada (WED)</b> – <a href="http://www.wd-deo.gc.ca" target="_blank">www.wd-deo.gc.ca</a></li>
                <li><b>Western Union Business Solutions (WUBS)</b> - <a href="http://business.westernunion.ca" target="_blank">business.westernunion.ca</a></li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}