{% extends 'global/base.html' %}
{% load static %}

{% block content %}

<!-- Showcase Section -->
<section class="grid">
    <div id="page-showcase">
        <h1>BC-BA Sponsors</h1>
    </div>
</section>

<!-- Current Sponsors -->
<section class="grid">
    <div id="current-sponsors" class="content">
        <div>
            <h3>Advantage BC</h3>
            <img src="{% static 'img/sponsors-links/advantage-bc.png' %}" alt="">
        </div>
        <div>
            <h3>AFEX</h3>
            <img src="{% static 'img/sponsors-links/AFEX.jpg' %}" alt="">
        </div>
        <div>
            <h3>Assante</h3>
            <img src="{% static 'img/sponsors-links/assante.png' %}" alt="">
        </div>
        <div>
            <h3>BCCTC</h3>
            <img src="{% static 'img/sponsors-links/BCCTC.jpg' %}" alt="">
        </div>
        <div>
            <h3>BDO</h3>
            <img src="{% static 'img/sponsors-links/BDO.png' %}" alt="">
        </div>
        <div>
            <h3>British American Business Council</h3>
            <img src="{% static 'img/sponsors-links/bmbc.png' %}" alt="">
        </div>
        <div>
            <h3>British Airways</h3>
            <img src="{% static 'img/sponsors-links/british-airways.jpg' %}" alt="">
        </div>
        <div>
            <h3>British Consulate-General Vancouver</h3>
            <img src="{% static 'img/sponsors-links/consulate.png' %}" alt="">
        </div>
        <div>
            <h3>Deloitte</h3>
            <img src="{% static 'img/sponsors-links/deloitte.png' %}" alt="">
        </div>
        <div>
            <h3>Deloitte Tax Law</h3>
            <img src="{% static 'img/sponsors-links/deloitte-tax-law.png' %}" alt="">
        </div>
        <div>
            <h3>The Great British Gardener</h3>
            <img src="{% static 'img/sponsors-links/gardener.png' %}" alt="">
        </div>
        <div>
            <h3>Global Logistics</h3>
            <img src="{% static 'img/sponsors-links/global-logistics.png' %}" alt="">
        </div>
        <div>
            <h3>HSBC</h3>
            <img src="{% static 'img/sponsors-links/hsbc.png' %}" alt="">
        </div>
        <div>
            <h3>Kirke</h3>
            <img src="{% static 'img/sponsors-links/kirke.png' %}" alt="">
        </div>
        <div>
            <h3>Mini Richmond</h3>
            <img src="{% static 'img/sponsors-links/mini.png' %}" alt="">
        </div>
        <div>
            <h3>Moving 2 Canada</h3>
            <img src="{% static 'img/sponsors-links/moving-2-canada.jpg' %}" alt="">
        </div>
        <div>
            <h3>Department for International Trade</h3>
            <img src="{% static 'img/sponsors-links/DTI.png' %}" alt="">
        </div>
        <div>
            <h3>Optimize Digital</h3>
            <img src="{% static 'img/sponsors-links/optimize.png' %}" alt="">
        </div>
        <div>
            <h3>Pan Pacific Vancouver</h3>
            <img src="{% static 'img/sponsors-links/pan-pacific.png' %}" alt="">
        </div>
        <div>
            <h3>Royal Overseas League</h3>
            <img src="{% static 'img/sponsors-links/ROSL.jpg' %}" alt="">
        </div>
        <div>
            <h3>ScotCan BC</h3>
            <img src="{% static 'img/sponsors-links/ScotCanBC.png' %}" alt="">
        </div>
        <div>
            <h3>Sean to Sky Concierge</h3>
            <img src="{% static 'img/sponsors-links/sea-to-sky.png' %}" alt="">
        </div>
        <div>
            <h3>WU Business Solutions</h3>
            <img src="{% static 'img/sponsors-links/wu-business-solutions.jpg' %}" alt="">
        </div>
    </div>
</section>
{% endblock %}