<!-- Admin Side Navigation Section -->
<nav>
    <ul>
        <a href="{% url 'all-board-member' %}">
            <li>Board Members</li>
        </a>
        <a href="{% url 'all-corp-member' %}">
            <li>Member Directory</li>
        </a>
        <a href="{% url 'all-resource' %}">
            <li>Resources</li>
        </a>
        <a href="{% url 'all-sponsor' %}">
            <li>Sponsorship</li>
        </a>
        <a href="{% url 'all-page' %}">
            <li>Other Pages</li>
        </a>
        <a href="{% url 'contacts' %}">
            <li>Contact Emails</li>
        </a>
        <a href="{% url 'all-meta' %}">
            <li>Meta Data</li>
        </a>
    </ul>
</nav>
