{% extends 'app_admins/admin-base.html' %}
{% load static %}

{% block content %}
<!-- Messages Section -->
<section>
    {% if messages %}
        {% for message in messages %}
            <div class="{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</section>

<!-- Admin Corporate Members -->
<section>
    <div class="content">
        <h3>Administer Corporate Members</h3>
        <div class="link">
            <a href={% url 'add-corp-member' %}>+ Add Corporate Member</a><br />
            <a href={% url 'member-directory' %} target="_blank">+ View Corporate Members Directory Live</a>
        </div>
        <table cellpadding="0" cellspacing="0">
            {% if corp_members %}
            <tr>
                <td class="head">Member Name</td>
                <td class="head">Website</td>
                <td class="head">Edit Corporate Member</td>
            </tr>
            {% for items in corp_members %}
            <tr>
                <td>{{ items.corp_member_name }}</td>
                <td>{{ items.website }}</td>
                <td><a href={% url 'edit-corp-member' items.id %}>Edit</a></td>
            </tr>
            {% endfor %}   
        </table>
        {% else %}
            <div>
                There are currently no corporate members. 
            </div>            
        {% endif %}    
                
    </div>
</section>
{% endblock %}