{% extends 'app_admins/admin-base.html' %}
{% load static %}

{% block content %}
<!-- Messages Section -->
<section>
    {% if messages %}
        {% for message in messages %}
            <div class="{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</section>

<!-- Edit Resources Form Section-->
<section>
    <div class="content">
        <h3>Edit Resources</h3>
        <div class="link">
            <a href={% url 'all-resource' %}><< Back</a><br />
        </div>
        <form method="post">
            {% csrf_token %} 
            <div>
                Resource Name: <br />
                <input type="text" value="{{ get_resource.resource_name }}" name="resource_name"><br />
            </div>
            <div>
                Website: <br />
                <input type="text" value="{{ get_resource.website }}" name="website">
            </div>
            <br />
            <button type="submit">Save</button>
        </form>
        <br />
        <form method="POST" action="/site-admin/resources/delete/{{ get_resource.id }}">
            {% csrf_token %}
            <input type="hidden" value="{{ get_resource.id }}" name="id"> <!-- Not sure what this is for -->
            <button type="submit">Delete</button>
        </form>
        
    </div>
</section>

{% endblock %}