{% load static %}

<!-- Footer Section -->
<footer class="grid">	
	<div id="footer">
        <div>
			<h3>BC-BA on Twitter</h3>
			<div class="twitter-box">
                <a class="twitter-timeline" data-width="400" data-height="320" data-theme="dark" href="https://twitter.com/BritCdnBizAssoc?ref_src=twsrc%5Etfw">Tweets by BritCdnBizAssoc</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				<!-- <a class="twitter-timeline" data-lang="en" data-height="500" data-theme="dark" data-link-color="#504e88" href="https://twitter.com/BritCdnBizAssoc?ref_src=twsrc%5Etfw">Tweets by BritCdnBizAssoc</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>pt> -->
			</div>
		</div>
		<div class="footer-linkedin">
			<h3>BC-BA on Linked-In</h3>
			<div class="linked-in">
				<img src="{% static 'img/linkedin-footer.jpg' %}">
                <img class="linkedin-bcba-logo" src="{% static 'img/linkedin-bcba-logo.jpg' %}">
                <div>
                    <h3>British Canadian Business Association</h3>
                    <span><b>Promote, Connect, Support</b></span>
                    <span class="tag">International Trade & Development Vancouver, BC</span>
                    <a target="blank" href="https://www.linkedin.com/company/british-canadian-business-association"><img class="linkedin-logo" src="{% static 'img/linkedin-logo.png' %}"></a>
                </div>
                
			</div>
		</div>
		<div class="footer-contact">
			<h3>Contact Us</h3>
			<div>
				If you would like to contact the BC-BA please complete the form on the contact page.
				<br /><br /><br />
				<a href="contact" class="btn">Contact us</a>
				<br /><br /><br /><br>
				Copyright &copy; British Canadian Business Association	
			</div>
		</div>
		<!-- <div class="copyright">
			Copyright © British Canadian Business Association 2020
		</div> -->
	</div>
</footer>